BOT_NAME=Code Courier Companion

PROJECT_ROOT= #указываешь директорию 

APPLY_MODE=companion

COMPANION_DEVICE_ID=АЙДИ ПК
COMPANION_NAME=ИМЯ ПК
COMPANION_POLL_MS=3000 #с какой частотой спрашивает
COMPANION_REQUEST_TIMEOUT_MS=45000
COMPANION_RETRY_COUNT=4
COMPANION_RETRY_BASE_MS=2000
COMPANION_MAX_BACKOFF_MS=30000
COMPANION_SERVER_URL=http://c14.play2go.cloud:20033
COMPANION_TOKEN= #сюда вставляешь токен полученный от батника
COMPANION_PAIR_CODE=

Тут ниче не трогай
PUBLIC_BASE_URL=http://c14.play2go.cloud:20033
API_HOST=127.0.0.1
API_PORT=20033

И тут тоже
AGENT_BACKEND=openai
